name: Build, push and deploy
on: push
permissions:
  contents: read
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  checks:
    name: Run checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mise-task:
          - check:deadcode
          - check:golangci-lint
          - check:gosec
          - check:govet
          - check:govulncheck
          - check:staticcheck
          - test
          - ci:fmt
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise run ${{ matrix.mise-task }}

  build:
    if: github.ref == 'refs/heads/main'
    name: Build and push application image to GAR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs:
      - checks
    outputs:
      image: ${{ steps.build_push_sign.outputs.tag }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - id: go_version
        run: echo "go_version=$(mise current go)" >> $GITHUB_OUTPUT
      - uses: nais/platform-build-push-sign@main
        id: build_push_sign
        with:
          build_args: |
            GO_VERSION=${{ steps.go_version.outputs.go_version }}
          name: kolide-event-handler
          google_service_account: gh-kolide-event-handler
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          push: ${{ github.actor != 'dependabot[bot]' }}

  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy application to prod-gcp
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs:
      - build
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          IMAGE: ${{ needs.build.outputs.image }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais.yml,.nais/grpc-ingress.yaml
